.lesson-four-task-one > button:hover {
    color: red;
    background-color: yellow;
}
.lesson-four-task-two > a:hover ~ h1 {
    background-color: green;
}
#lesson-four-task-three > a:visited {
    color: yellow;
}
#sidebar > a:link {
    color: red;
}
.lesson-four-task-five > .btn:active {
    background-color: blue;
}
.lesson-four-task-six > .btn:focus {
    background-color: orange;
    color: orange;
}
.lesson-four-task-seven > #target:target {
    color: green;
    background-color: green;
}
.lesson-four-task-eight > input[type='checkbox']:checked ~ div {
    color: white;
    background-color: blue;
}
.lesson-four-task-nine > p:lang(uk) {
    color: blue;
}
.lesson-four-task-ten input:enabled {
    color: red;
    background-color: yellow;
}
.lesson-four-task-eleven input:disabled {
    background-color: yellow;
}
.lesson-four-task-twelve input:read-write {
    background-color: yellow;
}
.lesson-four-task-thirteen input:read-only {
    background-color: yellow;
}
.lesson-four-task-fourteen input:valid {
    background-color: green;
}
.lesson-four-task-fourteen input:invalid {
    background-color: red;
}
.lesson-four-task-fifteen input:optional, #message:optional {
    background-color: red;
}
.lesson-four-task-sixteen .bg-secondary:out-of-range {
    background-color: red;
}
.lesson-four-task-seventeen .bg-secondary:in-range {
    background-color: red;
}
.lesson-four-task-eighteen > input:placeholder-shown {
    background-color: red;
}
#focus-within:focus-within {
    color: white;
    background-color: yellow;
}
.lesson-four-task-twenty input:invalid {
    background-color: red;
}